<div id="bar">
  <h3>Score: {{score}}</h3>
  <button (click)="restart(newSize.value || gridSize); newSize.value = ''">New Game</button>
  <input type="number" #newSize placeholder="New Size">
</div>
<div id="board" [style.width.px]="gridSize*90">  
  <div id="game-over" *ngIf="gameOver">
    <div id="game-over-body">
      <h4>Game Over</h4>
      <button (click)="restart()">Restart</button>
    </div>
  </div>
  <app-cell *ngFor="let cell of cells" [cell]="cell" (success)="successHandler($event)"></app-cell>
</div>