<h1 id="title">
  Angular 2048
</h1>
<div id="content">
  <app-board></app-board>
  <div id="info">
    <h4>HOW TO PLAY:</h4> Use your arrow keys to move the tiles. When two tiles with the same number touch, they merge into one!
    <hr>
    <h4>ABOUT:</h4> his simple implementation of the 2048 game is intended to serve as an example for an Angular workshop that took place on 26th of March 2017. The task for this workshop was requested by students from the second <a href="https://hackbulgaria.com/courses/angular2-volume2/">HackBulgaria Angular course</a> that was organized by me (<a href="https://bg.linkedin.com/in/idakiev">Ilia Idakiev</a>).
    Source code for this solution can be found on <a href="https://github.com/IliaIdakiev/NG_2048_workshop/">GitHub</a> and a dynamic version can be found <a href="https://github.com/IliaIdakiev/NG_2048_workshop/tree/sasho">here</a>.
  </div>
</div>